@use "/src/scss/variables.scss";
@use "/src/scss/base/mixins.scss";
@use "sass:math";

// <RATING>
// Сниппет (HTML): rating
// Rating
$star: "data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.47639 4.18133C10.0391 1.39467 10.8217 0 11.9991 0C13.1764 0 13.9591 1.39333 15.5231 4.18133C15.8684 4.79733 16.1684 5.56533 16.7564 5.98667C17.3164 6.38933 18.0977 6.42933 18.7591 6.54933C21.9004 7.12133 23.4711 7.40667 23.8817 8.492C23.9119 8.572 23.9373 8.65289 23.9577 8.73467C24.2351 9.864 23.1151 10.8427 20.8697 13.152C20.1671 13.8733 19.8484 14.216 19.7071 14.684C19.5777 15.1173 19.6404 15.5867 19.7657 16.5253C20.1964 19.752 20.4084 21.5413 19.4857 22.272C17.8324 23.5787 15.1657 21.2827 13.6737 20.5933C12.8497 20.2133 12.4391 20 11.9991 20C11.5591 20 11.1484 20.2133 10.3244 20.5933C8.83106 21.2827 6.16573 23.58 4.51373 22.2707C3.58973 21.5413 3.80973 19.752 4.24039 16.5253C4.36573 15.5867 4.42706 15.1173 4.29773 14.684C4.15773 14.216 3.83773 13.8747 3.13506 13.1507C0.889727 10.844 -0.23694 9.864 0.0417268 8.73467C0.0603935 8.652 0.0852823 8.57111 0.116393 8.492C0.52706 7.40667 2.09773 7.12133 5.23906 6.54933C5.90039 6.42933 6.68306 6.38933 7.24173 5.98667C7.82973 5.56533 8.12973 4.796 8.47639 4.18133Z' fill='%23A3CEF8'/%3E%3C/svg%3E%0A";
$starActive: "data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.47665 4.24277C10.0394 1.41516 10.8221 0 11.9994 0C13.1768 0 13.9595 1.4138 15.5235 4.24277C15.8689 4.86782 16.1689 5.6471 16.7569 6.07462C17.3169 6.48321 18.0983 6.52379 18.7596 6.64556C21.9011 7.22596 23.4718 7.51549 23.8824 8.61677C23.9127 8.69794 23.938 8.78002 23.9584 8.863C24.2358 10.0089 23.1158 11.002 20.8704 13.3452C20.1677 14.0772 19.849 14.4249 19.7077 14.8997C19.5783 15.3394 19.641 15.8157 19.7663 16.7681C20.197 20.0422 20.409 21.8578 19.4863 22.5992C17.8329 23.9251 15.1662 21.5954 13.6741 20.8959C12.8501 20.5103 12.4394 20.2938 11.9994 20.2938C11.5594 20.2938 11.1487 20.5103 10.3247 20.8959C8.83133 21.5954 6.16591 23.9264 4.51386 22.5979C3.58983 21.8578 3.80984 20.0422 4.24052 16.7681C4.36586 15.8157 4.42719 15.3394 4.29786 14.8997C4.15785 14.4249 3.83784 14.0785 3.13515 13.3439C0.889754 11.0033 -0.236947 10.0089 0.041728 8.863C0.0603953 8.77912 0.0852849 8.69704 0.116397 8.61677C0.527076 7.51549 2.09779 7.22596 5.23922 6.64556C5.90057 6.52379 6.68326 6.48321 7.24194 6.07462C7.82996 5.6471 8.12997 4.86646 8.47665 4.24277Z' fill='%23489EF1'/%3E%3C/svg%3E%0A";
$starGap: mixins.toRem(4);
$starWidth: mixins.toRem(20);
$starHeight: mixins.toRem(20);

.rating {
  display: flex;
  flex-direction: column;
  gap: mixins.toRem(10);
	// .rating__items
	&__items {
    padding: 0 mixins.toRem(10);
		display: inline-flex;
		align-items: flex-start;
		gap: $starGap;
		[data-rating="set"] & {
			@media (any-hover: hover) {
				&:hover {
					.rating__item {
						background: url($starActive) 0 0 / $starWidth no-repeat;
					}
				}
			}
		}
	}
	// .rating__item
	&__item {
		flex: 0 0 $starWidth;
		width: $starWidth;
		height: $starHeight;
		position: relative;
		background: url($star) 0 0 / $starWidth no-repeat;
		transition: all 0.3s;
		&--active {
			background: url($starActive) 0 0 / $starWidth no-repeat;
		}
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: $starHeight;
			background: url($starActive) 0 0 / $starWidth no-repeat;
		}
		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: $starGap;
				transform: translateX(100%);
				[data-rating="set"] & {
					cursor: pointer;
				}
			}
		}
		[data-rating="set"] & {
			@media (any-hover: hover) {
				&:hover {
					~ .rating__item {
						background: url($star) 0 0 / $starWidth no-repeat;
						span {
							display: none;
						}
					}
				}
			}
		}
	}
	// .rating__input
	&__input {
		width: 100%;
		height: 100%;
		opacity: 0;
		display: block;
		[data-rating="set"] & {
			cursor: pointer;
		}
	}
}
