// Заголовки, общие БЄМ блоки и прочее...
@use "base/mixins";
@use "sass:math";

@use "variables";

// Заголовки, общие БЄМ блоки и прочее...
img {
  width: auto;
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

._md1dn {
  @media (max-width:mixins.toEm(variables.$pc)){
    display: none !important;
  }
}

._mmd1dn {
  @media (min-width:mixins.toEm(variables.$pc)){
    display: none !important;
  }
}

._md2dn {
  @media (max-width:mixins.toEm(variables.$tablet)){
    display: none !important;
  }
}

._mmd2dn {
  @media (min-width:mixins.toEm(variables.$tablet)){
    display: none !important;
  }
}

._md3dn {
  @media (max-width:mixins.toEm(variables.$mobile)){
    display: none !important;
  }
}

._mmd3dn {
  @media (min-width:mixins.toEm(variables.$mobile)){
    display: none !important;
  }
}

._md4dn {
  @media (max-width:mixins.toEm(variables.$mobileSmall)){
    display: none !important;
  }
}

._mmd4dn {
  @media (min-width:mixins.toEm(variables.$mobileSmall)){
    display: none !important;
  }
}

._pen {
  pointer-events: none;
}

._skeleton {
  overflow: hidden;
  position: relative;
  pointer-events: none;
  >* {
    position: relative;
    z-index: 1;
  }

  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 2;
    opacity: var(--opacity, 1);
  }
  
  &::after{
    content:'';
    position: absolute;
    top: -5%;
    left: calc(100% + mixins.toRem(60));
    width: mixins.toRem(40);
    height: 110%;
    rotate: 15deg;
    background-color: #fff;
    box-shadow: 0px 0px mixins.toRem(10) mixins.toRem(10) rgba(255, 255, 255, 1);
    z-index: 3;
    opacity: 0.4;
    animation: skeletonAfterAnim 1s ease infinite;
  }
}

@keyframes skeletonAfterAnim {
  from {
      left: -3.75rem
  }
}

.btn {
  @include mixins.btn;

  &-white {
    @include mixins.btn-white;
  }

  &-blue {
    @include mixins.btn-blue;
  }

  &-border {
    @include mixins.btn-border;
  }

  &-transparent {
    @include mixins.btn-transparent;
  }

  &-icon {
    @include mixins.btn-icon;
  }

  &-blackborder {
    @include mixins.btn-blackborder;
  }

  &-whiteborder {
    @include mixins.btn-whiteborder;
  }

  &-greyborder {
    @include mixins.btn-greyborder;
  }

  &-small {
    @include mixins.btn-small;
  }
}

::-webkit-scrollbar {
  width: mixins.toRem(4);
  height: mixins.toRem(4);
  background-color: var(--main-white-color);

  &-thumb {
    background-color: var(--main-blue-color);
    border-radius: calc(1px / 0);
  }
}

.quantity {
  --clr: var(--main-black-color);
  display: flex;
  align-items: center;
  border: mixins.toRem(1) solid var(--clr);

  @include mixins.adaptiveValue("border-radius", 10, 7);

  &_black {
    --clr: var(--main-white-color);
    background-color: var(--main-black-color);
  }
  &_blue {
    --clr: var(--main-white-color);
    background-color: var(--main-blue-color);
  }

  &__button {
    width: var(--sz);
    min-height: var(--sz);
    height: 100%;
    flex: 0 0 var(--sz);
    display: flex;
    justify-content:center;align-items: center;
    position: relative;
    color: var(--clr);

    &::before,&::after {
      content:'';
      height: mixins.toRem(2);
      background-color: var(--clr);
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      @include mixins.adaptiveValue("width", 12, 10);
    }

    &:has(i:not([hidden])) {
      &::before,&::after {
        display: none;
      }
    }

    i {
      display: flex;
      justify-content:center;align-items: center;
    }

    @include mixins.adaptiveValue("--sz", 32, 22);

    &_minus {
    }

    &_plus {
      &::after {
        content:'';
        rotate: 90deg;
      }
    }
  }

  &__input {
    flex: 1 1 auto;
    pointer-events: none;
    display: flex;
    align-items: center;

    input {
      text-align: center;
      font-weight: 900;
      font-size: mixins.toRem(12);
      color: var(--clr);
    }
  }
}

.map-marker {
  width: mixins.toRem(26);
  height: mixins.toRem(40);
  translate: -50% -100%;
}

.contact-form {
  &:not(:last-child) {margin-bottom: mixins.toRem(10);}

  &__container {
    display: grid;
    gap: mixins.toRem(10);
    padding-bottom: mixins.toRem(0) !important;
    
    @media (width >= #{mixins.toEm(variables.$mobile)}) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__content {
    display: grid;
    gap: mixins.toRem(10);
    @media (width >= #{mixins.toEm(550)}) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    padding: mixins.toRem(15);
    background-color: var(--main-grey-color);
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(18);
    justify-content: space-between;

    @include mixins.adaptiveValue("border-radius", 15, 10);

    &_black {
      color: var(--main-white-color);
      background-color: var(--main-black-color);
    }
  }

  &__small {
    font-weight: 500;
    font-size: mixins.toRem(12);
    color: var(--dark-grey-color);

    .contact-form__item_black & {
      color: var(--main-white-color);
    }
  }

  &__itemcontent {
    font-weight: 900;
    font-size: mixins.toRem(20);
    text-transform: uppercase;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(18);

    * {
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: mixins.toRem(5);
  }

  &__map {
    border-radius: mixins.toRem(15);
    overflow: hidden;
    @include mixins.adaptiveValue("min-height", 350, 170);
    @media (width >= #{mixins.toEm(variables.$mobile)}) {
      max-width: mixins.toRem(550);
    }
  }
}

.form {

  &__item {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(10);
    align-items: flex-start;
    position: relative;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    input, textarea {
      background-color: var(--main-white-color);
      border: mixins.toRem(1) solid transparent;
      position: relative;
      z-index: 2;

      @include mixins.adaptiveValue("font-size", 20, 12);
      @include mixins.adaptiveValue("border-radius", 10, 7);

      .loaded & {
        transition: border-color 0.3s ease 0s;
      }

      &._form-error {
        border-color: red;
      }

      @media (width >= #{mixins.toEm(variables.$mobile)}) {
        padding: mixins.toRem(20);
      }
      @media (width < #{mixins.toEm(variables.$mobile)}) {
        padding: mixins.toRem(10);
      }
    }

    input {
      @media (width >= #{mixins.toEm(variables.$mobile)}) {
        height: mixins.toRem(54);
      }
      @media (width < #{mixins.toEm(variables.$mobile)}) {
        height: mixins.toRem(44);
      }
    }

    textarea {
      resize: none;

      @include mixins.adaptiveValue("min-height", 108, 88);

      .loaded & {
        transition: all 0.3s ease 0s;
      }
    }

    &:has(.form__error) {
      margin-bottom: mixins.toRem(15) !important;
    }

    &_secondary {
      input, textarea {
        background-color: transparent;
        border: mixins.toRem(1) solid var(--dark-grey-color);
      }
    }
  }

  &__error {
    font-size: mixins.toRem(12);
    padding-left: mixins.toRem(10);
    color: red;
    position: absolute;
    left: 0;
    top: 100%;
    translate: 0 mixins.toRem(-15);
    opacity: 0;

    .loaded & {
      transition: all 0.3s ease 0s;
    }

    ._form-error & {
      translate: none;
      opacity: 1;
    }
  }

  &__label {
    padding-left: mixins.toRem(10);
    text-transform: uppercase;
    font-weight: 900;
    line-height: math.div(11 , 16);
    font-size: mixins.toRem(16);

    ._form-error & {
      color: red;
    }
  }

  &__boxwrap {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: mixins.toRem(10);

    @include mixins.adaptiveValue("font-size", 12, 10);

    i {
      flex: 0 0 var(--sz);
      width: var(--sz);
      height: var(--sz);
      background-color: var(--main-white-color);
      display: flex;
      justify-content:center;align-items: center;

      @include mixins.adaptiveValue("--sz", 32, 22);
      @include mixins.adaptiveValue("border-radius", 10, 7);

      &::before {
        content:'';
        --before-sz: calc(var(--sz) / 2);
        flex: 0 0 var(--before-sz);
        width: var(--before-sz);
        height: var(--before-sz);
        border-radius: mixins.toRem(4);
        background-color: var(--main-blue-color);
        scale: 0;
        .loaded & {
          transition: scale 0.3s ease 0s;
        }
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;

      &:checked ~ i {
        &::before {
          scale: 1;
        }
      }
    }

    a {
      display: inline;
      text-decoration: underline;
      .loaded & {
        transition: color 0.3s ease 0s;
      }
      @media (any-hover: hover) {
        &:hover{
          text-decoration: none;
          color: var(--main-blue-color);
        }
      }
    }
  }

  &__button {
    @media (width >= #{mixins.toEm(variables.$mobile)}) {
      @include mixins.btn-big;
    }
  }
}

.section {
  &:not(:last-child) {
    @media (width >= #{mixins.toEm(variables.$mobile)}) {
      margin-bottom: mixins.toRem(30);
    }
    @media (width < #{mixins.toEm(variables.$mobile)}) {
      margin-bottom: mixins.toRem(45);
    }
  }

  &__container {
    @include mixins.adaptiveValue("padding-top", 30, 10);
    @include mixins.adaptiveValue("padding-bottom", 30, 10);
  }

  &__head {
    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 60, 30);
    }
  }

  &__title {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    flex-wrap: wrap;

    @include mixins.adaptiveValue("font-size", 40, 22);

    sup {
      font-weight: 500;
      color: var(--dark-grey-color);
      line-height: math.div(17 , 24);
      font-size: mixins.toRem(16);
    }
  }
}

._blue {
  color: var(--main-blue-color);
}

.splide {

  &__arrows {
    display: flex;
    justify-content: flex-end;
    gap: mixins.toRem(10);

    &:not(:last-child) {margin-bottom: mixins.toRem(15);}
  }

  &__arrow {
    --color: var(--dark-grey-color);

    border-radius: mixins.toRem(10);
    display: flex;
    align-items: center;
    gap: mixins.toRem(4);
    border: mixins.toRem(1) solid var(--color);
    padding: mixins.toRem(10);
    min-height: mixins.toRem(32);
    text-transform: uppercase;
    font-weight: 900;
    font-size: mixins.toRem(12);
    color: var(--color);

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }

    @media (any-hover: hover) {
      &:hover{
        --color: var(--main-blue-color);
      }
    }
  }
}

summary {
  appearance: none;
  list-style: none;

  &::marker {
    display: none;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.spollers {

  &__item {
    background-color: var(--main-grey-color);
    border-radius: mixins.toRem(10);
  }

  &__question {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: mixins.toRem(10);
    justify-content: space-between;
    cursor: pointer;

    @include mixins.adaptiveValue("font-size", 24, 16);
    @include mixins.adaptiveValue("padding-left", 20, 15);
    @include mixins.adaptiveValue("padding-right", 20, 15);
    @include mixins.adaptiveValue("padding-top", 16, 15);
    @include mixins.adaptiveValue("padding-bottom", 16, 15);

    &::after {
      content:'';
      flex: 0 0 mixins.toRem(24);
      width: mixins.toRem(24);
      height: mixins.toRem(24);
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.2666 10.0688C0.101852 10.2336 -0.000321303 10.4612 7.59146e-07 10.7127V13.2881C7.0158e-07 13.7916 0.407607 14.1992 0.910464 14.1986L9.80163 14.1986L9.80163 23.0895C9.80163 23.593 10.2092 24.0006 10.7121 24H13.2875C13.791 24 14.1987 23.5924 14.198 23.0895V14.1986H23.0895C23.5924 14.1992 24.0006 13.791 24 13.2881V10.7127C24 10.2092 23.5924 9.80156 23.0895 9.80221H14.198V0.910464C14.1987 0.407607 13.7904 -0.000643113 13.2875 7.60572e-07H10.7121C10.2086 7.03006e-07 9.80099 0.407606 9.80163 0.910464L9.80163 9.80221H0.910464C0.658713 9.80221 0.431349 9.90406 0.2666 10.0688Z' fill='%23343434'/%3E%3C/svg%3E%0A");
      
      .loaded & {
        transition: rotate 0.3s ease 0s;
      }
    }

    &._spoller-active {
      &::after {
        rotate: 45deg;
      }
    }
  }

  &__answer {
    font-weight: 500;

    @include mixins.adaptiveValue("font-size", 20, 12);
    @include mixins.adaptiveValue("padding-top", 10, 0);
    @include mixins.adaptiveValue("padding-left", 40, 15);
    @include mixins.adaptiveValue("padding-right", 40, 15);
    @include mixins.adaptiveValue("padding-bottom", 20, 15);
  }
}

.notfound {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 900;
      text-transform: uppercase;
      @include mixins.adaptiveValue("font-size", 256, 128);
    }

    h2 {
      font-weight: 900;
      text-transform: uppercase;
      line-height: math.div(28 , 40);

      @include mixins.adaptiveValue("font-size", 40, 22);

      &:not(:last-child) {margin-bottom: mixins.toRem(20);}
    }

    p {
      font-weight: 500;
      line-height: math.div(14 , 20);

      @include mixins.adaptiveValue("font-size", 20, 12);

      &:not(:last-child) {
        @include mixins.adaptiveValue("margin-bottom", 60, 30);
      }
    }

    a {}
  }
}

.breadcrumbs {

  &__container {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: mixins.toRem(6);
    text-transform: lowercase;
    color: var(--dark-grey-color);
    font-weight: 500;

    @include mixins.adaptiveValue("font-size", 16, 12);

    a {
      .loaded & {
        transition: color 0.3s ease 0s;
      }
      @media (any-hover: hover) {
        &:hover{
          color: var(--main-blue-color);
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      align-items: center;
      gap: mixins.toRem(6);

      &:has(a) {
        &::after {
          content:'▸';
        }
      }
    }
  }
}

.range {

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    font-weight: 500;
    font-size: mixins.toRem(12);
    color: var(--dark-grey-color);
    height: mixins.toRem(44);
    padding: mixins.toRem(10);
    border-radius: mixins.toRem(10);
    border: mixins.toRem(1) solid var(--dark-grey-color);

    * {
      font-style: normal;
    }

    div {
      display: flex;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
      }
    }

    input {
      outline: none;
    }
  }

  &__slider {
    margin-top: mixins.toRem(-3);
    margin-left: mixins.toRem(15);
    margin-right: mixins.toRem(15);

    &.noUi-target {
      border-radius: 0;
      box-shadow: none;
      border: none;
      background: transparent;
    }

    &.noUi-horizontal {
      height: mixins.toRem(3);

      .noUi-handle {
        cursor: pointer;
        width: mixins.toRem(15);
        height: mixins.toRem(15);
        border-radius: mixins.toRem(5);
        top: mixins.toRem(1.5);
        right: 0;
        translate: 50% -50%;
        border-color: var(--dark-grey-color);
        box-shadow: none;
        background-color: var(--main-white-color);
        display: flex;
        justify-content:center;align-items: center;

        &::before {
          content:'';
          position: static;
          width: mixins.toRem(7);
          height: mixins.toRem(7);
          background: var(--main-blue-color);
          border-radius: mixins.toRem(2);
        }

        &::after {
          content:'';
          display: none;
        }
      }

      .noUi-touch-area {
        width: 200%;
        height: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
    }

    .noUi-connect {
      background: var(--main-blue-color);
    }
  }
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  font-size: mixins.toRem(16);
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked {
      & ~ i {
        &::before {
          background-color: var(--main-blue-color);
          transform: translate(#{mixins.toRem(20)}, -50%);
        }
      }
    }
  }

  i {
    position: relative;
    box-sizing: border-box;
    width: mixins.toRem(40);
    flex: 0 0 mixins.toRem(40);
    height: mixins.toRem(20);
    padding: mixins.toRem(4);
    border-radius: mixins.toRem(6);
    border: mixins.toRem(1) solid var(--dark-grey-color);

    .loaded & {
      transition: border-color 0.3s ease 0s;
    }

    &::before {
      content:'';
      position: absolute;
      top: 50%;
      left: mixins.toRem(4);
      width: mixins.toRem(10);
      height: mixins.toRem(10);
      border-radius: mixins.toRem(2);
      background-color: var(--dark-grey-color);
      transform: translateY(-50%);
      
      .loaded & {
        transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
      }
    }
  }
}

.mini-product {
  position: relative;
  container-type: inline-size;

  .quantity {
    &__button {
      --sz: #{mixins.toRem(32)};
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + var(--abs-height, 0px));
    z-index: 2;
    @media (any-hover: hover) {
      pointer-events: none;
    }
  }

  @media (any-hover: hover) {
    &::before {
      content:'';
      position: absolute;
      top: mixins.toRem(-10);
      left: mixins.toRem(-10);
      width: calc(100% + mixins.toRem(20));
      height: calc(100% + mixins.toRem(20) + var(--abs-height, 0px));
      border: mixins.toRem(1) solid var(--main-grey-color);
      box-shadow: 0px 5px 15px 0px #00000026;
      border-radius: mixins.toRem(15);
      z-index: 0;
      background-color: var(--main-white-color);
      pointer-events: none;
      opacity: 0;

      .loaded & {
        transition: all 0.3s ease 0s;
      }
    }

    &:hover{
      z-index: 3;
      &::before {
        opacity: 1;
      }

      .mini-product__abs {
        opacity: 1;
        pointer-events: all;
      }
      
      .mini-product__link {
        pointer-events: all;
      }
    }
  }

  &__media {
    position: relative;
    background-color: var(--main-grey-color);
    border-radius: mixins.toRem(10);
    overflow: hidden;
    padding: var(--padding);

    @include mixins.adaptiveValue("--padding", 10, 5);
  }

  &__image {
    img {
      display: block;
      width: 100%;
    }
  }

  &__tags {
    position: absolute;
    top: var(--padding);
    left: var(--padding);
    display: flex;
    flex-wrap: wrap;
    gap: mixins.toRem(4);
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding-top: mixins.toRem(15);
    padding-bottom: mixins.toRem(5);
    position: relative;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: mixins.toRem(10);

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 15, 10);
    }
  }

  &__price {
    font-weight: 900;
    line-height: math.div(17 , 24);

    &:has(+[class*="__oldprice"]) {
      color: var(--light-red-color);
    }
    
    @include mixins.adaptiveValue("font-size", 24, 16);
  }

  &__oldprice {
    font-weight: 600;
    color: var(--dark-grey-color);
    line-height: math.div(8 , 12);
    text-decoration: line-through;

    @include mixins.adaptiveValue("font-size", 16, 12);
  }

  &__rating {
    display: flex;
    gap: mixins.toRem(4);
    font-weight: 500;

    @include mixins.adaptiveValue("font-size", 16, 12);

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 15, 10);
    }

    *:not(sup) {
      color: var(--main-blue-color);
    }

    i {
      display: flex;
      justify-content:center;align-items: center;
    }

    sup {
      font-size: mixins.toRem(12);
      color: var(--dark-grey-color);
    }
  }

  &__name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    .loaded & {
      transition: color 0.3s ease 0s;
    }

    @include mixins.adaptiveValue("font-size", 16, 12);
  }

  &__abs {
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--main-white-color);
    padding-top: mixins.toRem(10);

    .loaded & {
      transition: opacity 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      position: absolute;

      opacity: 0;
      pointer-events: none;
    padding-bottom: mixins.toRem(15);
    }
  }

  &__actions {
    display: grid;
    gap: mixins.toRem(10);
    @media (width >= #{mixins.toEm(600)}) {
      &:not(:last-child) {margin-bottom: mixins.toRem(15);}
    }

    .btn {
      padding-left: mixins.toRem(5);
      padding-right: mixins.toRem(5);
    }

    @container (width >= #{mixins.toEm(250)}) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__chars {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(10);
    font-weight: 500;
    font-size: mixins.toRem(12);
    line-height: math.div(8 , 12);
    text-transform: lowercase;

    li {
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      &::before {
        content:'.................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
      }

      span {
        position: relative;
        background-color: var(--main-white-color);

        &:first-child {
          padding-right: mixins.toRem(4);
          color: var(--dark-grey-color);
        }
        &:last-child {
          padding-left: mixins.toRem(4);
          text-align: right;
        }
      }
    }

    @media (width < #{mixins.toEm(600)}) {
      display: none;
    }
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: mixins.toRem(2);
  padding: mixins.toRem(5) mixins.toRem(6);
  min-height: mixins.toRem(26);
  border-radius: mixins.toRem(10);
  font-weight: 500;
  font-size: mixins.toRem(12);
  line-height: math.div(8 , 12);
  text-transform: lowercase;

  background-color: var(--bgc);
  color: var(--color);
}

.dots-list {
  li {
    display: flex;
    justify-content: space-between;
    line-height: math.div(11 , 16);
    position: relative;

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 15, 10);
    }

    &::before {
      content:'................................................................................................................................................................................................................................................';
      position: absolute;
      width: 100%;
      overflow: hidden;
      color: var(--dark-grey-color);
    }

    span {
      background-color: var(--bgc, var(--main-white-color));
      position: relative;
      font-weight: 500;

      @include mixins.adaptiveValue("font-size", 16, 12);

      &:first-child {
        padding-right: mixins.toRem(4);
        color: var(--dark-grey-color);
      }
      &:last-child {
        padding-left: mixins.toRem(4);
      }
    }
  }
}

.similar-products {

  &__container {
  }

  &__head {
  }

  &__title {
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: mixins.toRem(30);

    @include mixins.adaptiveValue("column-gap", 30, 10);

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 60, 30);
    }

    &:not(._expanded) {
      grid-auto-flow: column;
      scroll-snap-type: x mandatory;

      .mini-product {
        min-width: mixins.toRem(180);
        scroll-snap-align: start;
      }

      @media (width < #{mixins.toEm(variables.$pc)}) {
        overflow: auto clip;
        // margin-left: calc(var(--padding-left) * -1);
        margin-right: calc(var(--padding-right) * -1);

        // padding-left: var(--padding-left);
        padding-right: var(--padding-right);
      }
    }

    &._expanded {
      @media (width < #{mixins.toEm(820)}) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__footer {
    display: flex;
    justify-content:center;align-items: center;
  }
}

.list-reviews {

  &__container {
  }

  &__head {
  }

  &__title {
  }

  &__body {
    display: grid;
    align-items: start;
    gap: mixins.toRem(30);
    
    @media (width >= #{mixins.toEm(850)}) {
      grid-template-columns: mixins.toRem(270) 1fr;
    }

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 60, 30);
    }
  }

  &__summary {
    @media (width >= #{mixins.toEm(850)}) {
      position: sticky;
      top: calc(var(--headerScrollHeight) + mixins.toRem(30));
      left: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(10);
  }

  &__item {
  }

  &__footer {
    display: flex;
    justify-content:center;align-items: center;
  }
}

.summary-list-reviews {
  display: grid;
  gap: mixins.toRem(30);

  @media (width < #{mixins.toEm(850)}) {
    grid-template-columns: auto 1fr;

    .btn {
      grid-column: 1 / span 2;
    }
  }

  &__item {
    gap: mixins.toRem(10);
    
    @media (width >= #{mixins.toEm(850)}) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
    @media (width < #{mixins.toEm(850)}) {
      display: flex;
      flex-direction: column;
    }

    p {
      grid-row: 1 / span 2;
      font-weight: 900;
      text-transform: uppercase;
      font-size: mixins.toRem(40);
      line-height: math.div(28 , 40);
    }

    i {
      color: var(--main-blue-color);
      display: flex;
      gap: mixins.toRem(4);

      @media (width >= #{mixins.toEm(850)}) {
        margin-top: auto;
      }
    }

    span {
      font-weight: 500;
      line-height: math.div(11 , 16);

      @include mixins.adaptiveValue("font-size", 16, 12);
    }
  }

  &__list {
    li {
      display: flex;
      gap: mixins.toRem(4);
      align-items: center;
      &:not(:last-child) {margin-bottom: mixins.toRem(10);}

      p {
        font-weight: 500;
        line-height: math.div(11 , 16);
        
        @include mixins.adaptiveValue("font-size", 16, 12);
        
        &:first-child {
          font-variant-numeric: tabular-nums;
        }
        &:last-child {
          flex: 0 0 mixins.toRem(45);
          text-align: right;
        }
      }

      i {
        display: flex;
        justify-content:center;align-items: center;
        color: var(--main-blue-color);
      }

      div {
        flex: 1 1 auto;
        height: mixins.toRem(3);
        background-color: var(--main-grey-color);
        border-radius: calc(1px / 0);
        margin: 0 mixins.toRem(6);
        position: relative;
        overflow: hidden;

        &::before {
          content:'';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: var(--width);
          background-color: var(--main-blue-color);
          border-radius: calc(1px / 0);
        }
      }
    }
  }
}

.item-list-reviews {
  background-color: var(--main-grey-color);
  padding: mixins.toRem(15);

  @include mixins.adaptiveValue("border-radius", 15, 10);

  &__name {
    display: flex;
    gap: mixins.toRem(4);

    &:not(:last-child) {margin-bottom: mixins.toRem(10);}

    span {
      text-transform: uppercase;
      font-weight: 900;
      margin-right: mixins.toRem(11);
      font-size: mixins.toRem(16);
      line-height: math.div(11 , 16);
    }

    svg {
      color: var(--main-blue-color);
    }
  }

  &__date {
    color: var(--dark-grey-color);
    font-weight: 500;
    line-height: math.div(8 , 12);
    display: block;
    
    @include mixins.adaptiveValue("font-size", 16, 12);

    &:not(:last-child) {margin-bottom: mixins.toRem(15);}
  }

  &__body {
    text-transform: lowercase;
    font-weight: 500;

    @include mixins.adaptiveValue("font-size", 16, 12);
  }
}